{% extends "tn/live.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/32slots.css">
{% endblock %}

{% block tree %}
    {# MAPS #}
    {% if game.maps == 1 %}
        <div id="maps">
            {% for i in range(0,3) %}
                <div class="map" style="background-image:url('{{ attribute(maps_list, attribute(maps, i)).url|e('css') }}');"></div>
            {% endfor %}
            <div class="map winner"></div>
        </div>
    {% endif %}
    {# BRACKET #}
        <div id="bracket">
            <div class="teams column">
                {% set foo = 33 %}
                {% for i in range(1, 32, 2) %}
                    {% if attribute(tree, foo).id == attribute(tree, i).id %}
                        {% set team1score, team2score = 'winner', 'loser' %}
                    {% elseif attribute(tree, foo).id == attribute(tree, i + 1).id %}
                        {% set team1score, team2score = 'loser', 'winner' %}
                    {% else %}
                        {% set team1score, team2score = '', '' %}
                    {% endif %}
                    {% set foo = foo + 1 %}
                    <div class="duel">
                        <div class="team row-fluid {{ team1score }}">
                            <div class="span10">{% if attribute(teams, attribute(tree, i)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i).id).name }}</div>
                            {% if game.scores == 1 %}
                            <div class="span2">{{ attribute(tree, i).score}}</div>
                            {% endif %}
                        </div>
                        <div class="team row-fluid {{ team2score }}">
                            <div class="span10">{% if attribute(teams, attribute(tree, i + 1)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i + 1).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i + 1).id).name }}</div>
                            {% if game.scores == 1 %}
                            <div class="span2">{{ attribute(tree, i + 1).score}}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="separation column">
                <div class="branches column">
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                </div>
                <div class="carres column">
                    <div class="carre"></div>
                    <div class="carre"></div>
                    <div class="carre"></div>
                    <div class="carre"></div>
                    <div class="carre"></div>
                    <div class="carre"></div>
                    <div class="carre"></div>
                    <div class="carre"></div>
                </div>
            </div>

            <div class="teams column">
                {% set foo = 49 %}
                {% for i in range(33, 48, 2) %}
                    {% if attribute(tree, foo).id == attribute(tree, i).id %}
                        {% set team1score, team2score = 'winner', 'loser' %}
                    {% elseif attribute(tree, foo).id == attribute(tree, i + 1).id %}
                        {% set team1score, team2score = 'loser', 'winner' %}
                    {% else %}
                        {% set team1score, team2score = '', '' %}
                    {% endif %}
                    {% set foo = foo + 1 %}
                    <div class="duel">
                        <div class="team row-fluid {{ team1score }}">
                            <div class="span10">{% if attribute(teams, attribute(tree, i)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i).id).name }}</div>
                            {% if game.scores == 1 %}
                            <div class="span2">{{ attribute(tree, i).score}}</div>
                            {% endif %}
                        </div>
                        <div class="team row-fluid {{ team2score }}">
                            <div class="span10">{% if attribute(teams, attribute(tree, i + 1)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i + 1).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i + 1).id).name }}</div>
                            {% if game.scores == 1 %}
                            <div class="span2">{{ attribute(tree, i + 1).score}}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="separation column">
                <div class="branches column">
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                </div>
                <div class="carres column">
                    <div class="carre"></div>
                    <div class="carre"></div>
                    <div class="carre"></div>
                    <div class="carre"></div>
                </div>
            </div>

            <div class="teams column">
                
                {% set foo = 57 %}
                {% for i in range(49, 56, 2) %}
                    {% if attribute(tree, foo).id == attribute(tree, i).id %}
                        {% set team1score, team2score = 'winner', 'loser' %}
                    {% elseif attribute(tree, foo).id == attribute(tree, i + 1).id %}
                        {% set team1score, team2score = 'loser', 'winner' %}
                    {% else %}
                        {% set team1score, team2score = '', '' %}
                    {% endif %}
                    {% set foo = foo + 1 %}
                    <div class="duel">
                        <div class="team row-fluid {{ team1score }}">
                            <div class="span10">{% if attribute(teams, attribute(tree, i)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i).id).name }}</div>
                            {% if game.scores == 1 %}
                            <div class="span2">{{ attribute(tree, i).score}}</div>
                            {% endif %}
                        </div>
                        <div class="team row-fluid {{ team2score }}">
                            <div class="span10">{% if attribute(teams, attribute(tree, i + 1)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i + 1).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i + 1).id).name }}</div>
                            {% if game.scores == 1 %}
                            <div class="span2">{{ attribute(tree, i + 1).score}}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            

            <div class="separation column">
                <div class="branches column">
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                    <div class="branche"></div>
                </div>
                <div class="carres column">
                    <div class="carre"></div>
                    <div class="carre"></div>
                </div>
            </div>

            <div class="teams column">
                
                {% set foo = 61 %}
                {% for i in range(57, 60, 2) %}
                    {% if attribute(tree, foo).id == attribute(tree, i).id %}
                        {% set team1score, team2score = 'winner', 'loser' %}
                    {% elseif attribute(tree, foo).id == attribute(tree, i + 1).id %}
                        {% set team1score, team2score = 'loser', 'winner' %}
                    {% else %}
                        {% set team1score, team2score = '', '' %}
                    {% endif %}
                    {% set foo = foo + 1 %}
                    <div class="duel">
                        <div class="team row-fluid {{ team1score }}">
                            <div class="span10">{% if attribute(teams, attribute(tree, i)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i).id).name }}</div>
                            {% if game.scores == 1 %}
                            <div class="span2">{{ attribute(tree, i).score}}</div>
                            {% endif %}
                        </div>
                        <div class="team row-fluid {{ team2score }}">
                            <div class="span10">{% if attribute(teams, attribute(tree, i + 1)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i + 1).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i + 1).id).name }}</div>
                            {% if game.scores == 1 %}
                            <div class="span2">{{ attribute(tree, i + 1).score}}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="separation column">
                <div class="branches column">
                    <div class="branche"></div>
                    <div class="branche"></div>
                </div>
                <div class="carres column">
                    <div class="carre"></div>
                </div>
            </div>

            <div class="teams column">
                {% set foo = 63 %}
                {% set i = 61 %}
                {% if attribute(tree, foo).id == attribute(tree, i).id %}
                    {% set team1score, team2score = 'winner', 'loser' %}
                {% elseif attribute(tree, foo).id == attribute(tree, i + 1).id %}
                    {% set team1score, team2score = 'loser', 'winner' %}
                {% else %}
                    {% set team1score, team2score = '', '' %}
                {% endif %}
                {% set foo = foo + 1 %}
                <div class="duel">
                    <div class="team row-fluid {{ team1score }}">
                        <div class="span10">{% if attribute(teams, attribute(tree, i)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i).id).name }}</div>
                        {% if game.scores == 1 %}
                        <div class="span2">{{ attribute(tree, i).score}}</div>
                        {% endif %}
                    </div>
                    <div class="team row-fluid {{ team2score }}">
                        <div class="span10">{% if attribute(teams, attribute(tree, i + 1)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, i + 1).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, i + 1).id).name }}</div>
                        {% if game.scores == 1 %}
                        <div class="span2">{{ attribute(tree, i + 1).score}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="separation column">
                <div class="branches column">
                    <div class="branche"></div>
                </div>
                <div class="carres column">
                    <div class="carre"></div>
                </div>
            </div>

            <div class="teams column">
                <div class="winner">
                    <div class="team">{% if attribute(teams, attribute(tree, 63)).picture != "none" %}<img src="/images/icones/{{ attribute(teams, attribute(tree, 63).id).picture }}.gif"> {% endif %}{{ attribute(teams, attribute(tree, 63).id).name }}</div>
                </div>
            </div>
        </div>
        <!-- FIN CONTENT -->
{% endblock %}