{% extends 'admin/admin.html' %}

{% block content %}
<div id="edit_page" class="main">
	<form method="post" class="form-horizontal">
		<div class="control-group">
			<label for="name" class="control-label">name of your page </label> 
			<div class="controls"><input type="text" name="name" id="name" placeholder="name" value="{{ page.name }}"></div>
		</div>
		<div class="control-group">
			<label for="update_onchange" class="control-label">Update the bracket as soon as any change is detected</label>
			<div class="controls"><input id="update_onchange" type="checkbox" name="update_onchange" value="1" {% if page.update_onchange == 1 %}checked{% endif %}></div>
		</div>

		<input type="submit" value="Update page settings" class="btn btn-large">
	</form>
</div>
{% endblock %}