{% extends 'admin/admin.html' %}

{% block content %}
<div id="edit_tn" class="main form-horizontal">
	<form method="post">

		<div class="control-group">
			<label for="slots" class="control-label">Change Slots</label>
			<div class="controls">
				<select name="slots" id="slots">
					<option value="8"{% if tournament.slots == 8 %} selected{% endif %}>8</option>
					<option value="16"{% if tournament.slots == 16 %} selected{% endif %}>16</option>
					<option value="32"{% if tournament.slots == 32 %} selected{% endif %}>32</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label for="id_game" class="control-label">Change Game</label>
			<div class="controls">
				<select name="id_game" id="id_game">
					{% for game in games %}
					    <option value="{{ game.id }}"{% if tournament.id_game == game.id %} selected{% endif %}>{{ game.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div style="text-align:center">
			<input type="submit" value="envoyer" class="btn btn-large">
		</div>
	</form>
</div>
{% endblock %}