{% extends 'admin/admin.html' %}

{% block content %}
<div id="edit_tree" class="main">
	<div id="status_bar">
		<div id="bar">
			<div id="bar_set_tn"></div>
			<div id="bar_register_teams"></div>
			<div id="bar_edit_tree"></div>
			<div id="bar_end_tn"></div>
		</div>
		<div id="triangle"></div>
		<h1>Edit Tree</h1>
	</div>
	<form action="/admin/{{ page.namespace }}/change_tree_state/{% if tournament.live == 2 %}1{% else %}2{% endif %}/" method="post" id="change_tree_state">
		<div class="well">Use this button to display or not the tree for everyone.</div>
		<div class="switch demo1">
			<input type="checkbox" {% if tournament.live == 2 %}checked{% endif %}>
			<label></label>
		</div>
		<input type="hidden" id="update_onchange" value="{{ page.update_onchange }}">
		{% if attribute(tree, 31).id is not empty %}
		<div class="well">The tournament seems to be over. You can end it by <a href="#end_tn_modal" data-toggle="modal">saving it here</a>!</div>
		{% endif %}
	</form>

	<form method="post">
		{% block tree %}{% endblock %}

		{% if page.update_onchange == 0 %}<input type="submit" value="Update the bracket" class="btn btn-large">{% endif %}
	</form>

</div>
{% endblock %}