<!DOCTYPE html>
<html>
<head>
	<title>Administration of {{ name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<!-- custom scrolling -->
	<link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
	<!-- custom -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="login" class="container">
		<h1>Administration of <strong>{{ name }}</strong></h1>

		<form method="post" accept-charset="utf-8" class="form-horizontal">
			<div class="control-group">
				<label for="username" class="control-label">Username</label>
				<div class="controls"><input name="username" placeholder="username" type="text" id="username"></div>
			</div>

			<div class="control-group">
				<label for="password" class="control-label">Password</label>
				<div class="controls"><input type="password" name="password" id="password" placeholder="password"></div>
			</div>

			<div class="control-group">
				<label class="control-label" for="rememberme">Remember me</label>
				<div class="controls">
					<input type="checkbox" name="rememberme" id="rememberme" value="1">
				</div>
			</div>

			<div style="text-align:center;">
				<input type="submit" value="Sign-in" class="btn btn-large">
			</div>
		</form>
	</div>
	<!-- javascript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<!-- custom? -->
	<script src="/javascripts/admin.js"></script>
</body>
</html>