{% extends 'admin/admin.html' %}

{% block content %}

	<div id="set_tn" class="main">
		<div id="status_bar">
			<div id="bar">
				<div id="bar_set_tn"></div>
				<div id="bar_register_teams"></div>
				<div id="bar_edit_tree"></div>
				<div id="bar_end_tn"></div>
			</div>
			<div id="triangle"></div>
			<h1>Setting a new Tournament</h1>
		</div>

		<form method="post">
			<h2>What Game?</h2>

			<fieldset>
				<select name="game">
					{% for game in games %}
					    <option value="{{ game.id }}">{{ game.name }}</option>
					{% endfor %}
				</select>

				<br>

				<a href="/admin/{{ page.namespace }}/manage_games/">Manage your games</a>
			</fieldset>

			<h2>Slots?</h2>

			<fieldset>
				<label for="slots8" class="radio inline"><input type="radio" name="slots" value="8" id="slots8"> 
				8</label>
				<label for="slots16" class="radio inline"><input type="radio" name="slots" value="16" id="slots16"  checked>
				16</label>
				<label for="slots32" class="radio inline"><input type="radio" name="slots" value="32" id="slots32">
				32</label>
			</fieldset>

			<input type="submit" value="Set New Tournament" class="btn btn-large">
		</form>
	</div>
{% endblock %}