<!DOCTYPE html>
<html>
<head>
	<title>{{ page.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<!-- custom -->
	{% block css %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<style>
	{{ page.css|e('html') }}
	</style>
</head>
<body>
	<div id="wrapper" class="container">
		<header><h1>{{ page.name }}</h1></header>
		<nav>
			<ul>
				<li><a href="/tn/{{ page.namespace }}/">Home</a></li>
				{# <li><a href="/tn/{{ page.namespace }}/">{News}</a></li>
				<li><a href="/tn/{{ page.namespace }}/">{Current_Tournament}</a></li>
				<li><a href="/tn/{{ page.namespace }}/">{Past_Tournaments}</a></li>
				<li><a href="/tn/{{ page.namespace }}/">{Rules}</a></li>
				<li><a href="/tn/{{ page.namespace }}/">{FAQ}</a></li>
				<li><a href="/tn/{{ page.namespace }}/">{Contact}</a></li>
				#}
			</ul>
		</nav>
		<div id="main">
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
		<footer>tournament created via the <a href="/">wiitop script</a></footer>
	</div>

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-190811-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>