<!DOCTYPE html>
<html>
<head>
	<title>Get your own Tournament Page!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<!-- custom -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/accueil.css">
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="accueil" class="container">
		<h1>Get Your Own Tournament Page!</h1>

		<div id="featured" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#featured" data-slide-to="0" class="active"></li>
				<li data-target="#featured" data-slide-to="1"></li>
				<li data-target="#featured" data-slide-to="2"></li>
				<li data-target="#featured" data-slide-to="3"></li>
			</ol>
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<img src="http://p1x3l.com/media/upload/landing1.png">				
					<div class="carousel-caption">
				        <p>Here's a tournament tree just for your eyes</p>
			      	</div>
				</div>
				<div class="item">
					<img src="http://p1x3l.com/media/upload/landing2.png">				
					<div class="carousel-caption">
				        <p>The Teams playing</p>
			      	</div>
				</div>
				<div class="item">
					<img src="http://p1x3l.com/media/upload/landing3.png">				
					<div class="carousel-caption">
				        <p>The admin page</p>
			      	</div>
				</div>
				<div class="item">
					<img src="http://p1x3l.com/media/upload/landing4.png">				
					<div class="carousel-caption">
				        <p>How to set a new tournament. Easy!</p>
			      	</div>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#featured" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#featured" data-slide="next">&rsaquo;</a>
		</div>
	
		<div class="row selling_points">
			<div class="span4"><p>A few click and you have your <strong>free</strong> tournament page <strong>for life</strong>! Isn't it neat? And what is evenmore awesome is that we're updating the script regularly, you don't have to do anything and your page will get better and better!</p></div>
			<div class="span4"><p><strong>Seven different languages</strong> (french, english, german, portugese, spanish, italian, finnish, swedish...) and more to come.<br>Height different games and the possibility of adding more by yourself!</p></div>
			<div class="span4"><p>Customize your page entirely! Browse our different <strong>themes</strong> or play with the css yourself and get something that sticks from the rest!</p></div>
		</div>
		<div class="row">
			<a href="/create/" class="btn btn-large ">Get Your Own Tournament Page Right Now!</a>
		</div>
	</div>
	<!-- javascript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<!-- custom -->
	<script src="javascripts/accueil.js"></script>

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-190811-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>