<!DOCTYPE html>
<html>
<head>
	<title>You're done buddy!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<!-- custom -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/accueil.css">
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="summary" class="container">
		<h1>Congrats! You've just successfully created your tournament page.<br>
		<small>Here's a small recap, they've also been <strong>sent to your mail</strong> so no worries! (except if you've given us a fake email, then you should really note this somewhere)</small></h1>

		<h2>Here's your tournament :</h2>
		<div class="well"><i class="icon-arrow-up"></i> <a href="/tn/{{ namespace }}/" target="_blank">www.wiitop.net/tn/{{ namespace }}/</a></div>

		<h2>Here's your administration :</h2>
		<div class="well"><i class="icon-arrow-up"></i> <a href="/admin/{{ namespace }}/" target="_blank">www.wiitop.net/admin/{{ namespace }}/</a></div>
	</div>
	<!-- javascript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<!-- custom? -->
</body>
</html>